
body {
    font-family: "Arial", sans-serif;
}
#top {
    background-color: #2e6a4d;
    padding: 10px;
}
.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.section-content {
    background-color: #b4d9b0;
    padding: 20px;
    margin: 20px 0;
}
h1,
h2 {
    background-color: #2e6a4d;
    color: #fff;
    font-family: "Arial", sans-serif;
    font-size: 24px;
    padding: 10px;
}
h3,
h4,
h5,
h6 {
    background-color: #51785c;
    color: #a5cca7;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    padding: 10px;
}
footer {
    background-color: #f2f2f2;
    padding: 20px;
}
.section-content p {
    color: #333333;
    margin: 10px 0;
}
.section-content h4 {
    color: #555555;
}
.section-content h5 {
    color: #777777;
}
body {
    background-color: #f2f2f2;
}
.header-top {
    background-color: #2e6a4d;
}
#menu {
    height: fit-content;
    width: 200px;
    background-color: #2e6a4d;
}